<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898695960774-8p0oth105le9g78ta7p0qsfn3asfmfd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898695960774-8p0oth105le9g78ta7p0qsfn3asfmfd6</string>
	<key>API_KEY</key>
	<string>AIzaSyAJZdNdbQV4VmnTOh8ya8o1cAfdvaaIy54</string>
	<key>GCM_SENDER_ID</key>
	<string>898695960774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.examplecampusgo.campusgo</string>
	<key>PROJECT_ID</key>
	<string>campusgo-6eec2</string>
	<key>STORAGE_BUCKET</key>
	<string>campusgo-6eec2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898695960774:ios:27a2b83c6b0c41de331fc7</string>
</dict>
</plist>